.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin: 10px;
    
}

.img-box {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-box > .Foto{
    border-radius: 20px;
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20%;
    opacity: 0;
    background-color: black;
    border-radius: 20px;
}

.overlay > .icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.overlay > .icons > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.overlay > .icons > .icon{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid antiquewhite;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;

}
.overlay > button{
    top: 50%;
}

.icon > img{
    width: 20px;
}

.icon > p{
    font-size: 12px;
    color: black;
    margin: 0;
}

.img-box:hover .overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.author{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .UserFoto {
    border-radius: 100%;
    border: 4px solid #000;
    height:60px;
    width: 60px;
    position: relative;
    top: -35px;
}

.author:hover >.UserFoto{
    height:80px;
    width: 80px;
    top: -40px;
}

.author > .info {
    margin-top: -50px;
    text-align: center;
    color: black;
}
.author > .info > h2 {
    font-size: 18px;
    text-align: center;
}
.author > .info > p.date {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .card {
        margin: 5px;
    }

    .overlay {
        gap: 0px;
    }

    .overlay > .icons > .icon {
        width: 25px;
        height: 25px;
    }
    .overlay > button{
        top: -10px;
    }

    .icon > img{
        width: 10px;
    }

    .icon > p{
        font-size: 6px;
    }


}