header > .logo {
  margin-left: 50px;
}
header > .logo > img {
  width: 30px;
  height: auto;
}

header > ul{
  display:flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 0%;
}

header > form {
  flex-grow: 1; 
  display:flex;
  justify-content: center;
}
header > form > input {
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

header > ul.nav-icons {
  gap: 30px;
  justify-content: flex-end;
}
header > ul.nav-icons > li > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header > ul.nav-links {
  display:flex;
  justify-content: space-around;
  height:100%;
  width:100%;
    align-items: center;
}

@media (max-width: 768px) {
    header > ul.nav-links {
        display: none;
    }
    header {
        grid-template-columns: 1fr 3fr 1fr;
    }
    header > form > input {
        width: 100%;
    }
    header > .logo {
        margin-left: 10px;
    }

    header > ul.nav-icons > :first-child {
        display: none;
    }
    header > ul.nav-icons > :nth-child(2){
        display: none;
    }
    header > ul.nav-icons {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}