:root {
  --color-primary-bg: rgb(253, 243, 225);
  --color-red: red;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: gray;
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-antique: antiquewhite;

  --font-size-xs: 6px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  --spacing-xs: 5px;
  --spacing-sm: 10px;

  --border-radius-sm: 10px;
  --border-radius-md: 20px;
  --border-radius-full: 50%;
  --border-thick: 4px;
  --border-light: 2px;

  --icon-size-sm: 10px;
  --icon-size-md: 20px;
  --icon-size-lg: 30px;
  --icon-size-xl: 55px;

  --avatar-size: 60px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 2fr;
  align-items: center;
  justify-content:  space-between;
}

#gallery {
  column-count: 4;
  column-gap: 15px;
}

#gallery > div {
  break-inside: avoid;
}

@media (max-width: 1024px) {
  #gallery {
    column-count: 3;
  }
}


@media (max-width: 768px) {
  #gallery {
    column-count: 1;
  }
}